<header>
        <nav class="logo-nav">
            <a href="/"><img src="/assets/logo-edu.svg" alt="Logo Green World" class="header-logo"></a>
        </nav>
        <nav class="chart-burger">
            <% if (user && !user.admin) { %>
                <a href="/chart" >
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>  
            <% } %>
            <a href="#burger-menu" >
                <i class="fas fa-bars"></i>
            </a>
        </nav>
        <nav id="burger-menu">
            <a href="#">Cerrar</a>
            <% if (!user) { %>
                <a href="/">INICIO</a>
                <a href="/users/login">INICIAR SESIÓN</a>
                <a href="/users/register">REGISTRARSE</a>
                <a href="/products/categorias/accesorios">ACCESORIOS</a>
                <a href="/products/categorias/aditivos">ADITIVOS</a>
                <a href="/products/categorias/medicinal">MEDICINAL</a>
                <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
                <a href="/products/categorias/sustratos">SUSTRATOS</a>                
            <% } else if (user && !user.admin){ %>
                <a href="/">INICIO</a>
                <a href="/products/categorias/accesorios">ACCESORIOS</a>
                <a href="/products/categorias/aditivos">ADITIVOS</a>
                <a href="/products/categorias/medicinal">MEDICINAL</a>
                <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
                <a href="/products/categorias/sustratos">SUSTRATOS</a>
                <a href="/chart">CARRITO</a>
                <a href="/users/profile/<%= user.id%>">PERFIL DE USUARIO</a>
                <a href="/users/logout">Cerrar Sesión</a>

            <% } else { %>
                <a href="/">INICIO</a>
                <a href="/products/create">CREAR PRODUCTO</a>
                <a href="/products/">LISTA DE PRODUCTOS</a>
                <a href="/products/categorias/accesorios">ACCESORIOS</a>
                <a href="/products/categorias/aditivos">ADITIVOS</a>
                <a href="/products/categorias/medicinal">MEDICINAL</a>
                <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
                <a href="/products/categorias/sustratos">SUSTRATOS</a>
                <a href="/users/profile/<%= user.id%>">PERFIL DE USUARIO</a>
                <a href="/users/logout">Cerrar Sesión</a>              
            <% } %>    
          

        </nav>
        <nav class="header-top-nav-bar">
        <% if (!user) { %>
            <a href="/users/register">Registrarse</a>
            <a href="/users/login">Iniciar Sesión</a>
         
        <% } else if(user && !user.admin){%>
            <a href="/chart"><i class="fa-solid fa-cart-shopping"></i>  Carrito</a>
            <!-- Por ahora queda lo de abajo <span class="profile-menu-a">
                <figure class="profile-image-a"><img src="/assets/avatars/user.image"></figure> 
                <p> user.name  </p>
                <i class="fa-solid fa-caret-down"></i>
                <nav class="profile-options">
                    <a href="/users/profile/ user.id%">Perfil</a>
                    <a href="/users/logout">Cerrar sesión</a>
                </nav>
            </span>-->

        <% } else{ %>
            <a href="/products/create">Crear Producto</a>
            <a href="/products/">Lista de Productos</a>
            <!-- Por ahora queda lo de abajo <<span class="profile-menu-a">
                <figure class="profile-image-a"><img src="/assets/avatars/ejsout user.image"></figure> 
                <p> ejsout user.name </p>
                <i class="fa-solid fa-caret-down"></i>
                <nav class="profile-options">
                    <a href="/users/logout">Cerrar sesión</a>
                </nav>
            </span>-->
        <% } %>    
    
        </nav>
    
    <section>
        <h2>CULTIVA TU MUNDO   <i id="pala" class="fa-solid fa-trowel"></i>    <i id="planta" class="fa-solid fa-seedling"></i>    <i id="agua" class="fa-solid fa-hand-holding-droplet"></i></h2>
        <% if (user) { %>
            <span class="profile-menu-b">
                <figure class="profile-image-b"><img src="/assets/avatars/<%=user.image.path%>"></figure> 
                <p><%= user.name %> </p>
                <i class="fa-solid fa-caret-down"></i>
                <nav class="profile-options">
                    <a href="/users/profile/<%= user.id%>">Perfil</a>
                    <a href="/users/logout">Cerrar sesión</a>
                </nav>
            </span>
         
        <% } %>
        
    </section>    

    <nav class="header-bottom-nav-bar">        
        <!-- Se podria hacer un foreach para esta nav, pero tampoco molestan estas 5 lineas-->
        <a href="/products/categorias/accesorios">ACCESORIOS</a>
        <a href="/products/categorias/aditivos">ADITIVOS</a>
        <a href="/products/categorias/medicinal">MEDICINAL</a>
        <a href="/products/categorias/parafernalia">PARAFERNALIA</a>
        <a href="/products/categorias/sustratos">SUSTRATOS</a>                   
    </nav>
</header> 