<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs")  %>
    <main>
        <form method="post" action="/products/edit/<%=product.id %>?m=PUT" enctype="multipart/form-data" id="editProductForm">
            <label class="name" for="name">Nombre del Producto <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="text" name="name" id="name" value="<%=product.name %>">
            <p class="name valid"></p>
            <label class="description" for="description">Descripción del Producto <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <textarea name="description" id="description" autocomplete="off"><%=product.description %></textarea>
            <p class="description valid"></p>
            <fieldset class="gp-fieldset">
                <figure class="dad-figure">
                    <h3>Imagen del Producto</h3>
                    <img src="/assets/products-images/<%= product.image.path %>">
                </figure>
                <fieldset class="dad-fieldset">
                    <label class="image" for="image">Actualizar Imagen <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
                    <input type="file" name="product-image" id="image" autocomplete="off">
                    <p class="image valid"></p>
                </fieldset>
            </fieldset>
            
            <label for="category">Categoría del Producto</label>
            <select name="categoria_id" id="category">
                <option value="1" <%= product.category.name == "accesorios" ? "selected": null %> >ACCESORIOS</option>
                <option value="2" <%= product.category.name == "aditivos" ? "selected": null %> >ADITIVOS</option>
                <option value="3" <%= product.category.name == "medicinal" ? "selected": null %> >MEDICINAL</option>
                <option value="4" <%= product.category.name == "parafernalia" ? "selected": null %> >PARAFERNALIA</option>
                <option value="5" <%= product.category.name == "sustratos" ? "selected": null %> >SUSTRATOS</option>
            </select>
            <label for="color">Color del Producto</label>
            <input type="text" name="color" id="color" value="<%=product.color %>">
            <label class="price" for="price">Precio del Producto <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="number" name="price" id="price" value="<%=product.price %>">
            <p class="price valid"></p>
            <button type="submit">Actualizar datos del producto</button>
        </form>
        <form action="/products/delete/<%=product.id%>?m=DELETE" method="POST" id="delete">
            <button class="boton" type="submit">Eliminar Producto</button>
        </form>
    </main>
    <%- include("../includes/footer.ejs")  %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/editProduct.js"></script>
</body>
</html>