<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs")  %>
    <main>
        <form method="post" action="/products/edit/<%=product.id %>?m=PUT" enctype="multipart/form-data">
            <label for="name">Nombre del Producto</label>
            <input type="text" name="name" id="name" value="<%=product.name %>">
            <label for="description">Descripción del Producto</label>
            <textarea name="description" id="description" autocomplete="off"><%=product.description %></textarea>
            <fieldset class="gp-fieldset">
                <figure class="dad-figure">
                    <h3>Imagen del Producto</h3>
                    <img src="/assets/products-images/<%= product.image %>">
                </figure>
                <fieldset class="dad-fieldset">
                    <label for="image">Actualizar Imagen</label>
                    <input type="file" name="product-image" id="image" autocomplete="off">
                </fieldset>
            </fieldset>
            <label for="category">Categoría del Producto</label>
            <select name="category" id="category">
                <option value="accesorios" <%= product.category == "accesorios" ? "selected": null %> >ACCESORIOS</option>
                <option value="aditivos" <%= product.category == "aditivos" ? "selected": null %> >ADITIVOS</option>
                <option value="medicinal" <%= product.category == "medicinal" ? "selected": null %> >MEDICINAL</option>
                <option value="parafernalia" <%= product.category == "parafernalia" ? "selected": null %> >PARAFERNALIA</option>
                <option value="sustratos" <%= product.category == "sustratos" ? "selected": null %> >SUSTRATOS</option>
            </select>
            <label for="color">Color del Producto</label>
            <input type="text" name="color" id="color" value="<%=product.color %>">
            <label for="price">Precio del Producto</label>
            <input type="number" name="price" id="price" value="<%=product.price %>">
            <button type="submit">Actualizar datos del producto</button>
        </form>
        <form action="/products/delete/<%=product.id%>?m=DELETE" method="POST" id="delete">
            <button class="boton" type="submit">Eliminar Producto</button>
        </form>
    </main>
    <%- include("../includes/footer.ejs")  %>
</body>
</html>