<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs")  %>
    <main>
        <h2>Todos Los Productos ( <%= products.length %> )</h2>
        <form action="/products/" method="get">
            <input type="text" name="name" id="name" placeholder="Nombre del Producto">
            <button class="boton-buscar" type="submit">Search</button>
        </form>
    <section class="productos">
        <% products.forEach(element => { %> 
        <article>
            <img src="/assets/products-images/<%= element.image.path %>" alt="Imagen de producto" width="50%">
            <h3><%= element.name %> </h3>
            <nav class="botones">
                <a class="boton-editar" href="/products/edit/<%=element.id%>">Editar Producto</a>
                <form action="/products/delete/<%=element.id%>?m=DELETE" method="POST">
                    <button class="boton-eliminar" type="submit">Eliminar Producto</button>
                </form>
            </nav>
        </article>
        <% }) %>
    </section>

    </main>
    <%- include("../includes/footer.ejs")  %>
</body>
</html>