
<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs") %> 
    <main>
        <form method="post" action="/users/edit/<%=user.id%>?m=PUT" enctype="multipart/form-data" id="userEditForm">
            <label class="name" for="name">Nombre <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="text"
                name="name"
                id="name"
                value="<%= user.name %>">
                <% if (locals.errors && errors.name) { %>
                    <p class="msg-error"><%= errors.name.msg %></p>
                <% } %>
                <p class="name valid"></p>
            


            <label class="lastname" for="lastname">Apellido <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="text"
                name="lastname"
                id="lastname"
                value="<%= locals.oldData ? oldData.lastname : user.lastname %>">
                <% if (locals.errors && errors.lastname) { %>
                    <p class="msg-error"><%= errors.lastname.msg %></p>
                <% } %>    
                <p class="lastname  valid"></p> 



            <label class="email"  for="email">Correo Electr칩nico <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="email"
                name="email"
                id="email"
                value="<%= locals.oldData ? oldData.email : user.email %>">
                <% if (locals.errors && errors.email) { %>
                    <p class="msg-error"><%= errors.email.msg %></p>
                <% } %>
                <p class="email  valid"></p>

                
            <fieldset class="gp-fieldset">
                <figure class="dad-figure">
                    <h3>Imagen de Perfil</h3>
                    <img src="/assets/avatars/<%= user.image.path%>">
                </figure>
                <fieldset class="dad-fieldset">

                    <label class="avatar"  for="avatar">Actualizar Imagen <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
                    <input type="file" name="avatar" id="avatar" autocomplete="off">
                    <% if (locals.errors && errors.avatar) { %>
                        <p class="msg-error"> <%= errors.avatar.msg %> </p>
                    <% } %>   
                    <p class="avatar valid"></p>
                </fieldset>
            </fieldset>

            <label for="cultivo">Tipo de cultivo?</label>
                <select name="cultivo" id="cultivo" required>
                    <option value="ninguna" <%=  user.cultivo == "ninguna"? "selected" : null%>>No cultivo</option>
                    <option value="indoor" <%= user.cultivo == "indoor"? "selected" : null %>>Indoor</option>
                    <option value="outdoor" <%=  user.cultivo == "outdoor"? "selected" : null %>>Outdoor</option>
                    <option value="ambas" <%=  user.cultivo == "ambas"? "selected" : null %>>Indoor y Outdoor</option>                    
                </select>
            
            <label class="password" for="password">Nueva Contrase침a <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>
            <input type="password"
                name="password"
                id="password"
                >
                <% if (locals.errors && errors.password) { %>
                    <p class="msg-error"><%= errors.password.msg %></p>
                <% } %>
                <p class="password valid"></p>


            <label class="passConfirm" for="passConfirm">Confirma tu Nueva Contrase침a <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>           
            <input type="password"
                name="passConfirm"
                id="passConfirm"
                >
                <% if (locals.errors && errors.passConfirm) { %>
                    <p class="msg-error"><%= errors.passConfirm.msg %></p>
                <% } %>
                <p class="passConfirm valid"></p>
            

            <label class="actualPass" for="actualPass">Contrase침a Actual <i class="fa-solid fa-circle-check"></i><i class="fa-solid fa-circle-xmark"></i></label>           
            <input type="password"
                name="actualPass"
                id="actualPass">
                <% if (locals.errors && errors.actualPass) { %>
                    <p class="msg-error"><%= errors.actualPass.msg %></p>
                <% } %>
                <p class="actualPass"></p>
        
            <button type="submit" name="actualizar">Actualizar Datos</button>        
        </form>
    </main>
    <%- include("../includes/footer.ejs") %> 
    <script defer src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/scripts/editUser.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</body>
</html>        