<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs") %> 
    <main>
        <form method="post" action="/users/login">
            <input type="email" name="email" placeholder="Email" value="<%= locals.oldData ? oldData.email : null %>" required>
            <% if (locals.errors && errors.email) { %>
                <p class="msg-error"><%= errors.email.msg %></p>
            <% } %>
            <input type='password' name='password' placeholder='Contraseña' value="<%= locals.oldData ? oldData.password : null %>" required>
            <% if (locals.errors && errors.password) { %>
                <p class="msg-error"><%= errors.password.msg %></p>
            <% } %>
            <fieldset>
                <input class="checkbox" type='checkbox' name='recordame' id="recordame">
                <label for="recordame">Mantener sesión iniciada</label>
            </fieldset>
            <nav>
                <a href="" class="recuperar-contraseña"> Olvide mi Contraseña </a>
            </nav>
            <button type="submit" name="registrar"> Iniciar Sesión </button>
        </form>
    </main>
    <%- include("../includes/footer.ejs") %> 
    
</body>
</html>