<!DOCTYPE html>
<html lang="en">
    <%- include("../includes/head.ejs")  %>
<body>
    <%- include("../includes/header.ejs") %> 
    <main>
          <form method="post" action="/users/register" enctype="multipart/form-data">
            <label for="name">Nombre</label>
            <input type="text"
                name="name"
                id="name"
                value="<%= locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
                <p class="msg-error"><%= errors.name.msg %></p>
            <% } %>    


            <label for="lastname">Apellido</label>
            <input type="text"
                name="lastname"
                id="lastname"
                value="<%= locals.oldData ? oldData.lastname : null %>">
                <% if (locals.errors && errors.lastname) { %>
                    <p class="msg-error"><%= errors.lastname.msg %></p>
                <% } %> 


            <label for="email">Correo Electrónico</label>
            <input type="email"
                name="email"
                id="email"
                value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <p class="msg-error"><%= errors.email.msg %></p>
                <% } %>
            
            <label for="avatar">Imagen de Perfil</label>
            <input type="file"
                name="avatar"
                id="avatar">
                <% if (locals.errors && errors.avatar) { %>
                    <p class="msg-error"> <%= errors.avatar.msg %> </p>
                <% } %>     


            <label for="cultivo">Realizas algun tipo de cultivo?</label>
                <select name="cultivo" id="cultivo" required>
                    <option value="ninguna" <%= (locals.oldData &&  (locals.oldData.cultivo == "ninguna"))  ? "selected": null %>>No cultivo</option>
                    <option value="indoor" <%= (locals.oldData &&  (locals.oldData.cultivo == "indoor")) ? "selected": null %>>Indoor</option>
                    <option value="outdoor" <%= (locals.oldData &&  (locals.oldData.cultivo == "outdoor" ))? "selected": null %>>Outdoor</option>
                    <option value="ambas" <%= (locals.oldData &&  (locals.oldData.cultivo == "ambas" ))? "selected": null %>>Indoor y Outdoor</option>                    
                </select>


            <label for="password">Elige tu Contraseña</label>
            <input type="password"
                name="password"
                id="password"
                value="<%= locals.oldData ? oldData.password : null %>">
                <% if (locals.errors && errors.password) { %>
                    <p class="msg-error"><%= errors.password.msg %></p>
                <% } %>


            <label for="passConfirm">Confirma tu Contraseña</label>           
            <input type="password"
                name="passConfirm"
                id="passConfirm"
                value="<%= locals.oldData ? oldData.passConfirm : null %>">
                <% if (locals.errors && errors.passConfirm) { %>
                    <p class="msg-error"><%= errors.passConfirm.msg %></p>
                <% } %>
            <button type="submit" name="registrar"> Envíar </button>
            </form>
    </main>
    <%- include("../includes/footer.ejs") %> 
</body>
</html>